 <div class="footer-dark">
    <footer>
        <div class="text-center container">
            <div class="row">
                Made by Team Hacking Squad
            </div>
        </div>
    </footer>
</div>