 <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                   Made by Team Hacking Squad
                </div>
                <p class="copyright">Hacking Squad © 2020</p>
            </div>
        </footer>
    </div>