<div class="container">
 
  <!-- page-header adds space aroundtext and enlarges it. It also adds an underline at the end -->
  <div class="page-header">
    <h1>Assets Performance Monitor</h1>
  </div>
  
  <br>

  <ul class="list-group">
  
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">
          Heat Exchangers
        </div>
        <div class="col-sm">
          <a href="/dashboard" class ="btn btn-primary pull-right">Check</a> 
        </div>
        <div class="col-sm">
          <a href="#" class ="btn btn-success pull-right ">Manage</a>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">
          Motors
        </div>
        <div class="col-sm">
          <a href="#" class ="btn btn-primary pull-right">Check</a> 
        </div>
        <div class="col-sm">
          <a href="#" class ="btn btn-success pull-right ">Manage</a>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">
          Turbine
        </div>
        <div class="col-sm">
          <a href="#" class ="btn btn-primary pull-right">Check</a> 
        </div>
        <div class="col-sm">
          <a href="#" class ="btn btn-success pull-right ">Manage</a>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">
          Expanders
        </div>
        <div class="col-sm">
          <a href="#" class ="btn btn-primary pull-right">Check</a> 
        </div>
        <div class="col-sm">
          <a href="#" class ="btn btn-success pull-right ">Manage</a>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">
          Reacting columns
        </div>
        <div class="col-sm">
          <a href="#" class ="btn btn-primary pull-right">Check</a> 
        </div>
        <div class="col-sm">
          <a href="#" class ="btn btn-success pull-right ">Manage</a>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">
          Compressor
        </div>
        <div class="col-sm">
          <a href="#" class ="btn btn-primary pull-right">Check</a> 
        </div>
        <div class="col-sm">
          <a href="#" class ="btn btn-success pull-right ">Manage</a>
        </div>
      </div>
    </li>
  </ul>
</div>