<script>
var ctx;
$(document).ready(function() {
    var modelData = [{{modelOutput}}]
    var labels = []
    var day = 1;
    var thresholdData = [];

    modelData.forEach(function(point) {
        labels.push(day);
        day += 1;

        thresholdData.push(0.9);
    })

    ctx = document.querySelector('#test-chart').getContext('2d');
    var testLineChart = new Chart(ctx, {
        type: 'line',

        data: {
            labels: labels,
            datasets: [{
                label: 'Heat transfer coefficient',
                fill: true,
                borderColor: 'rgb(28, 237, 137)',
                backgroundColor: 'rgba(28, 237, 137, 0.3)',
                data: modelData,
            }, {
                label: 'Threshold',
                fill: false,
                borderColor: 'red',
                borderDash: [5, 5],
                data: thresholdData,
            }],
        }
    });
})
</script>

<div class="container">
    <br>
    <h1>Test</h1>
    <h4>Control panel to test the machine learning model</h4>

    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Upload new dataset for testing the model</h5>
                    <br>
                    <form action="test/upload" method="post" enctype="multipart/form-data">
                        <input class="btn btn-light" type="file" name="file">
                        <br><br>
                        <input type="submit" value="Upload" class="btn btn-warning">
                    </form>
                </div>
                <div style="border-left: solid 1px #eee;" class="col">
                    <h5>Dataset</h5>

                    <p>
                        {{# if datasetExists }}
                            <a class="text-success">
                                <span class="material-icons">check</span>
                                Testing dataset exists
                            </a>
                            <form action="test/run" method="post" enctype="multipart/form-data">
                                <input type="submit" value="Test" class="btn btn-primary">
                            </form>
                        {{else}}
                            <a class="text-danger">
                                <span class="material-icons">error</span>
                                Testing dataset doesn't exist
                            </a>
                        {{/if}}
                    </p>
                </div>
            </div>       
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <h5>Model</h5>
            <span class="text-muted">
                <span class="material-icons">schedule</span>
                Last tested: {{lastTested}}
            </span><br><br>

            {{# if alertDays}}
                <div class="alert alert-danger" role="alert">
                    <span class="material-icons">error</span>
                    Heat transfer coefficient below threshold on the following days: <strong>{{alertDays}}</strong>
                </div>
            {{/if}}
            
            <canvas id="test-chart"></canvas>
        </div>
    </div>

</div>
<br><br>