<script>
    function notReady() {
        alert("Feature not ready yet");
    }
</script>

<div class="container">
    <h1>Test</h1>

    <p>Upload test data for model</p>

    <form action="test" method="post">
        <input type="file" name="" id="">
    </form>
    <br>
    <button class="btn btn-danger" onclick="notReady()">Start testing</button>

</div>
