<script>
    function notReady() {
        alert("Feature not ready yet");
    }
</script>

<div class="container">
    <h1>Train</h1>

    <p>Upload data to start training of model</p>

    <form action="test" method="post">
        <input type="file" name="" id="">
    </form>
    <br>
    <button class="btn btn-success" onclick="notReady()">Start training</button>

</div>
