<div class="container">
    <br>
    <h1>Train</h1>
    <h4>Control panel to train the machine learning model</h4>

    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Upload new dataset for training the model</h5>
                    <br>
                    <form action="train/upload" method="post" enctype="multipart/form-data">
                        <input class="btn btn-light" type="file" name="file">
                        <br><br>
                        <input type="submit" value="Upload" class="btn btn-warning">
                    </form>
                </div>
                <div style="border-left: solid 1px #eee;" class="col">
                    <h5 class="card-title">Progress</h5>

                    <p>
                        {{# if datasetExists }}
                            <a class="text-success">
                                <span class="material-icons">check</span>
                                Training dataset exists
                            </a>
                        {{else}}
                            <a class="text-danger">
                                <span class="material-icons">error</span>
                                Training dataset doesn't exist
                            </a>
                        {{/if}}
                        <br>
                        <span class="text-muted">Last trained: a week ago</span>
                    </p>
                </div>
            </div>       
        </div>
    </div>
    <br>

</div>
